@font-face {
  font-family: Baxter Sans Bold;
  src: url(Baxter-Bold.ttf);
}

*{
  font-family: "Baxter Sans Bold", Helvetica, Arial, sans-serif;
}

/* navigation bar */
.navbar-main {
    background: #4365e2 none repeat scroll 0 0;
}

.navbar-header {
    float: left;
}

.navbar-site a {
  font-family: "Baxter Sans Bold", Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none;
}

.navbar-brand {
    float: left;
}

.navbar-brand {
    padding: 18.5px 15px 20.5px;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-main .nav {
    font-size: 1.25em;
}

.navbar-main .nav {
    margin-top: 23px;
    text-shadow: none;
}

.navbar-nav>li {
    float: left;
}

.nav>li {
    display: block;
    position: relative;
}

.navbar-fixed-top .navbar-main .nav li a::after,
.navbar-fixed-notapplied .navbar-main .nav li a::after {
    display: none !important;
    text-decoration: none;
}

.js .navbar-main .nav li a::after {
    display: block;
}

.navbar-main .nav li a::after {
    transition: all 0.2s linear 0s;
    text-decoration: none;
}

.navbar-main .nav li a {
    color: #fff;
    transition: all 0.2s linear 0s;
    text-decoration: none;
}

.navbar-main .nav li a:hover {
    color: #fff;
    text-decoration: none;
}

.navbar-main .nav>li>a {
    padding: 10px 17px;
    color: #fff;
    text-decoration: none;
}

.title{
  font-family: "Baxter Sans Bold", Helvetica, Arial, sans-serif;
}

/* buttton-promary */
.btn-primary{
  background: #fff none repeat scroll 0 0;
  border: 1px solid #4365e2;
  color: #4365e2;
}

.btn {
  font-family: "Baxter Sans Bold", Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 10px;
}

.btn-primary:hover, .btn-primary:focus{
  background: #4365e2 none repeat scroll 0 0 !important;
  border-color: #4365e2 !important;
  color: #fff;
}

/* colums for the dashboard */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* login box */
#loginCol {
  font-family: "Baxter Sans Bold", Helvetica, Arial, sans-serif;
  border-style: solid;
  border-color: #5956DB !important;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  overflow: auto;
  background-color: #FFFFFF !important;
}

.form-control{
  display: table;
  float: left;
}

input[type="radio"] {
    display:inline-block;
}

label {
    display:inline-block;
}

.questionArea {
  border-style: solid;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  overflow: auto;
  background-color: #9ba4b4 !important;
  border-color: #394867 !important;
}

body {
  background-color: #fffaf4 !important;
  font-family: "Baxter Sans Bold", Helvetica, Arial, sans-serif;
}

main{
position: relative;

}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

a:link{

}
